<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>

		<% if(validacao) { %>
			<ul>
				<% validacao.forEach(function(v, i){ %>
						<li style="color:red">
								<%= v.msg %>
						</li>
				<% }) %>
			</ul>
		<% } %>
		<form action="/noticia/salvar" method="post">
			<label>Titulo</label>
			<input type="text" id="titulo" name="titulo" value="<%=noticia.titulo%>" placeholder="Titulo da notícia">
			<br>
			<label>Resumo</label>
			<input type="text" id="resumo" name="resumo" value="<%=noticia.resumo%>" placeholder="Resumo da notícia">
			<br>
			<label>Nome</label>
			<input type="text" id="autor" name="autor" value="<%=noticia.autor%>" placeholder="Autor da notícia">
			<br>
			<label>Data dos fatos</label>
			<input type="date" id="data_noticia" value="<%=noticia.data_noticia%>" name="data_noticia" placeholder="Data da notícia">
			<br>
			<label for="noticia">Noticia</label>
			<textarea name="noticia" id="noticia" value="<%=noticia.noticia%>" cols="30" rows="5"><%=noticia.noticia%></textarea>
			<br>
			<input type="submit" value="Enviar">
		</form>
	</body>
</html>
